{% extends 'base.html.twig' %}

{% block contenu %}
{{ form_start(form, { 'attr' : {'novalidate':'novalidate'}}) }}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3><center>
				Créer Stage
			</center></h3>
		</div>
	</div>
    
	<div class="row">
        <div class="col-md-4">
	    </div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
			<form role="form">

                        <div class="form-group">
                                        {{ form_label(form.titre,"Titre du stage") }}
                                        {{ form_widget(form.titre) }}
                        </div>

                        <div class="form-group">
                                {{ form_label(form.description,"Description du stage") }}
                                {{ form_widget(form.description) }}
                        </div>

                        <div class="form-group">
                                {{ form_label(form.email,"Email") }}
                                {{ form_widget(form.email) }}
                        </div>

                        <div class="form-group">
                                {{form_row(form.entreprises)}}
                        </div>
                        
                        

                        <center><button class="btn btn-primary" type="submit" >Valider</button></center>
                        {{ form_rest(form) }}
			</form>
				</div>
			</div>
		</div>

        <div class="col-md-4">
		</div>

	</div>
        
</div>
{{ form_end(form)}}

{% endblock %}

                


