{% extends 'base.html.twig' %}



{% block contenu %}
<div class="row">
	<div class="col-md-12">
		<div class="card">

			{% block titrePage %}
			<h5 class="card-header">
			Stages : {{stage.titre}}
			</h5>
			{% endblock %}

			
			{% block contenuPage %}
				<div class="card" style="width: 117rem;">
                    <div class="card-header">
                     Informations sur l'entreprise
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                        <ul>
                        <li>Nom Entreprise : {{stage.entreprises.nom}}</li>
                        <li>Activité : {{stage.entreprises.activite}}</li>
                        <li>Adresse : {{stage.entreprises.adresse}}</li>
                        <li>SiteWeb : {{stage.entreprises.SiteWeb}}</li>
                        </ul>
                        </li>

                        <div class="card-header">
                        Informations sur le stage
                        </div>

                        <li class="list-group-item">
                        <ul>
                        <li>Titre : {{stage.titre}}</li>
                        <li>Description : {{stage.Description}}</li>
                        <li>Email : {{stage.Email}}</li>
                        </ul>
                        </li>
                        
                        <div class="card-header">
                        Formations nécessaires
                        </div>

                        <li class="list-group-item">
                        <ul>
                        <li>Nom : 
                        {% for formationCourante in stage.formation %}
                        {{formationCourante.nom}}
                        {% endfor %}
                        </li>
                        </ul>
                        </li>

                    </ul>
                </div>
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
